<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
    <add key="dependencyversion" value="Highest" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="ConsumptionFeed" value="https://msazure.pkgs.visualstudio.com/One/_packaging/Networking-WanIncubation-Consumption/nuget/v3/index.json" />
    <add key="VSTSNuGet" value="https://identitydivision.pkgs.visualstudio.com/_packaging/IDDP/NuGet/v3/index.json" />
  </packageSources>
</configuration>